/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: auto;
  display: block;
  /* padding: 30px 50px; */
  border: 1px solid #dce0e4;
}

.bg-grey {
  background: #f7f7f7;
}
h1 {
  font-size: 1.75em;
  text-transform: uppercase;
}
h1,
p,
b,
span,
li {
  color: #343a40;
  /* text-transform: uppercase; */
}

.person-img {
  z-index: 1;
}
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #343a40;
}
.icon {
  color: #339af0;
  cursor: pointer;
}

#personal-info {
  box-shadow: 0 0 1px #1414142c;
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #339af0; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.ul-con li::before {
  content: "-  ";
  color: #343a40;
}

.icon3 {
  height: 30px;
  width: 30px;
  transform: scale(1.5);
  padding: 0.7em;
  color: #339af0;
  border: 1px solid #339af0;
  border-radius: 50%;
}
/* .hobbit p {
  color: rgb(116, 115, 113);
} */
/* .ngonky {
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.thangdiem {
  background: rgb(219, 218, 215);
  display: inline-block;
  height: 2px;
  width: 20%;
}
.checked.thangdiem {
  background: #339af0;
}

.b-0 {
  height: inherit;
  width: 1px;
  border: 1px solid #d6c08d;
  transform: translate(0, 5%);
  transform: scale(0.9);
}

tr td:nth-child(1) {
  width: 80px;
  vertical-align: middle;
  /* border-right: none; */
}
/* tr td:nth-child(2) {
  border-left: none;
} */

.tb {
  border-collapse: collapse;
  height: 160px;
}
.icon4 {
  color: rgb(116, 115, 113);
}

.footer-bg {
  /* position: relative; */
  background: #f7f7f7;
  height: 20px;
}
.footer-ul {
  /* list-style: none; */
  /* display: flex;
  gap: 24px; */
  cursor: pointer;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.footer-ul li {
  display: inline-block;
}
.icon5 {
  color: #339af0;
}
.name {
  text-shadow: 0px 0px 2px white;
}
#target,
#personal-info {
  box-shadow: 0px 2px 2px rgb(218, 216, 216);
}
.row1 > div,
.duan {
  box-shadow: 0 5px 5px rgb(218, 216, 216);
}
@media (min-width: 992px) {
  .avatar {
    width: 250px;
  }
  .col {
    width: 30%;
  }
  .bg-img {
    height: 75vh;
    background-image: linear-gradient(
        rgba(61, 58, 58, 0.6),
        rgba(61, 58, 58, 0.6)
      ),
      url("../images/banner.jpg");
    background-size: cover;
  }
}
